.expandedRow {
  :global {
    .react-json-view,
    .ant-tabs-nav {
      margin-left: 40px;
    }
    .ant-table-row {
      display: table-row !important;
    }
    
  }
  .longText {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

