.expandedRow {
  width: 50%;
  margin: 20px auto;
  background-color: aqua;

  :global {
    .react-json-view,
    .ant-tabs-nav {
      margin-left: 40px;
    }
    
  }
  .longText {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

