.logContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  :global {
    .ant-table {
      scrollbar-color: initial !important;
      font-size: 12px;
      margin-top: 10px;
    }
    .ant-table-cell,
    .ant-typography {
      font-size: 12px;
      font-family: monospace,'Fira Code', Consolas, 'Courier New';
    }
    .ant-typography {
      margin-bottom: 0;
      word-break: break-all;
    }
  }
  
  .table {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
  }
}
