.logContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .chart {
    height: 200px;
  }
  .table {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    margin-top: 10px;
  }
}
