<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hinadt.miaocha.domain.mapper.MachineMapper">

    <!-- 机器信息表所有字段 -->
    <sql id="machineColumns">
        id, name, ip, port, username, password, ssh_key, create_time, update_time, create_user, update_user
    </sql>

    <!-- 插入机器信息 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO machine_info (name, ip, port, username, password, ssh_key, create_user, update_user)
        VALUES (#{name}, #{ip}, #{port}, #{username}, #{password}, #{sshKey}, #{createUser}, #{updateUser})
    </insert>

    <!-- 更新机器信息 -->
    <update id="update">
        UPDATE machine_info
        SET name=#{name},
            ip=#{ip},
            port=#{port},
            username=#{username},
            password=#{password},
            ssh_key=#{sshKey},
            update_user=#{updateUser}
        WHERE id = #{id}
    </update>

    <!-- 删除机器信息 -->
    <delete id="deleteById">
        DELETE FROM machine_info WHERE id = #{id}
    </delete>

    <!-- 删除所有机器信息 -->
    <delete id="deleteAll">
        DELETE FROM machine_info
    </delete>

    <!-- 根据ID查询机器信息 -->
    <select id="selectById" resultType="com.hinadt.miaocha.domain.entity.MachineInfo">
        SELECT
        <include refid="machineColumns"/>
        FROM machine_info WHERE id = #{id}
    </select>

    <!-- 根据名称查询机器信息 -->
    <select id="selectByName" resultType="com.hinadt.miaocha.domain.entity.MachineInfo">
        SELECT
        <include refid="machineColumns"/>
        FROM machine_info WHERE name = #{name}
    </select>

    <!-- 根据ID列表查询机器信息 -->
    <select id="selectByIds" resultType="com.hinadt.miaocha.domain.entity.MachineInfo">
        SELECT
        <include refid="machineColumns"/>
        FROM machine_info
        <where>
            <if test="ids != null and ids.size() > 0">
                id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="ids == null or ids.size() == 0">
                1 = 0
            </if>
        </where>
    </select>

    <!-- 查询所有机器信息 -->
    <select id="selectAll" resultType="com.hinadt.miaocha.domain.entity.MachineInfo">
        SELECT
        <include refid="machineColumns"/>
        FROM machine_info ORDER BY create_time DESC
    </select>

</mapper>
