.editor-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  height: 300px;
  overflow: hidden;
  
  &:focus-within {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}