.virtualContainer {
	height: 100%;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 4px;
	}
}

.placeholder {
    position: relative;
}

.visibleContent {
    position: absolute;
    left: 0;
    right: 0;
}
