// 添加悬停下拉菜单样式
.ant-pro-sider-menu {
  .ant-menu-submenu {
    &:hover {
      > .ant-menu-submenu-title {
        background-color: rgba(0, 56, 255, 0.1);
      }
      > .ant-menu {
        display: block !important;
      }
    }
    .ant-menu {
      display: none;
    }
    &-open {
      > .ant-menu {
        display: block;
      }
    }
  }
}
